# Mở cổng cho Go chạy
PORT=8080

# Chìa khóa vào phòng chứa Data (MSSQL) của riêng máy ông
DB_HOST=127.0.0.1
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=
DB_NAME=travel_food_db

# AI SERVICE CONFIG
AI_SERVICE_URL=http://localhost:8000

# Chìa khóa xài dịch vụ ngoài
GOOGLE_MAPS_API_KEY=
GEMINI_API_KEY=