# Mở cổng cho Go chạy
PORT=8080

# Database
DB_HOST=
DB_PORT=1433
DB_USER=
DB_PASSWORD=
DB_NAME=travel_food_db

# AI SERVICE CONFIG
AI_SERVICE_URL=http://127.0.0.1:8000
FIREBASE_CREDENTIAL_PATH=../../config/serviceAccountKey.json


# API_KEYS
GEMINI_API_KEY=
GOOng_MAPS_API_KEY=
WEATHER_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback
