# Mở cổng cho Go chạy
PORT=8080

# Thông tin kết nối Database (Mỗi người tự điền thông tin MSSQL local của mình)
DB_HOST=127.0.0.1
DB_PORT=1901
DB_USER=
DB_PASSWORD=
DB_NAME=travel_food_db

# Cấu hình Firebase
FIREBASE_CREDENTIAL_PATH=./serviceAccountKey.json

# AI SERVICE CONFIG
AI_SERVICE_URL=http://localhost:8000

# API_KEYS (Thay bằng key dùng để test hoặc điền sau)
GOONG_MAPS_API_KEY=your_google_maps_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here